@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;

}

.top_contents_section {
    width: 100%;
    height: 115px;
    display: flex;


}

.top_title_banner {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.top_title {
    margin: 0;
    font-weight: 500;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
}

.icon {
    opacity: 0.5;
}

.square_icon {
    display: flex;
    align-items: center;
}

.banner_links_section {
    width: 18%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-around;

}


.socials_sect {
    display: flex;
    width: 50%;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;


}

.socials_link {
    color: #000;
    font-weight: 500;

    font-size: 20px;
}

/* ---Mid content section--- */

.mid_content_section {
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;


}

.left_block_mid_section {
    background: #000;
    height: 100%;
    width: 65%;
    display: flex;
    flex-flow: column;
    padding: 20px;
    z-index: 2;
}

.buy_tickets_descrip_section {
    border: 2px solid #000;
    width: 0;
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-flow: column;

}

.buy_tickets_title {
    font-weight: 200;
}

.artist_name {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
}

.exposition_text {
    color: #fff;
    font-weight: 200;
    font-size: 100px;
    line-height: 87px;
}

.buy_tickets_btn {
    width: 440px;
    height: 77px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

}

.date_time_text {
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: space-between;
    color: #fff;
}

.date_time_text p {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.time_text,
.date_text {
    font-size: 90px;
    font-weight: 100;

}

.location_text {
    font-size: 20px;
    font-weight: 100;
    text-align: right;
}

/* ---Left image section--- */


.tatianaM_image {
    background: url(/static/images/pexels-jeremy-bishop-2710131.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100);
    width: 34%;
    height: 100%;
    margin-left: auto;

}


.buy_tickets_section {
    background: url(/static/images/pexels-eric-esma-894156.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100);
    position: absolute;
    border: 2px solid #000;
    width: 34%;
    height: 0;
    right: 0;

}

.buy_tickets_btn:active {
    background-color: transparent;
}

/* ---Buy tickets form--- */

.form_inputs {
    width: 100% !important;
    margin: 0 !important;

}

.tickets_wrap {
    height: 100%;
    width: 50%;
    display: flex;

}

.tickets_form {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;

}

.ticket_form_submit_btn {
    width: 50%;
    height: 50px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    background: transparent;
    border: 2px solid #000;

}

.ticket_cards_wrap {
    height: 300px;
    display: flex;

}

.ticket_card {
    width: calc(100% / 3);
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;

}

.ticket_card:hover {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.07),
        0 6.7px 5.3px rgba(0, 0, 0, 0.05),
        0 12.5px 10px rgba(0, 0, 0, 0.042),
        0 22.3px 17.9px rgba(0, 0, 0, 0.035),
        0 41.8px 33.4px rgba(0, 0, 0, 0.028),
        0 100px 80px rgba(0, 0, 0, 0.02);
}

.card_icon {
    margin-right: 5px;
    height: 13px;
}

.card_title {
    margin: 0;
    font-size: 16px;
}

.tmorris_image {
    background: url(/static/images/pexels-jeremy-bishop-2710131.jpg);
}

.kemet_image {
    background: url(/static/images/sonsofkemt.jpg);
}

.badu_image {
    background: url(/static/images/erykahbadu.jpg);
}


.tmorris_image,
.kemet_image,
.badu_image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100);
    margin-top: 5px;
    height: 100px;
}


.date_time_event {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

}

.event_description {
    font-size: 13px;
}



@media (max-width : 1533px) {

    .date_time_text {
        height: 100%;
        flex-flow: column;
        justify-content: unset;

    }

    .date_time_text p {
        width: 100%;
        text-align: left;
    }


}